<!--
File name : server/views/login/login.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-10-18
-->

<%- include ../partials/header.ejs %>


<!-- Login Content -->
<main class="container valign-mid">
    <div class="row wp-100">
        <div class="col-md-6 offset-md-3">
            <% if(messages.length > 0) {%>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
            <% } %>
            
            <div class="card">
                <div class="card-header"><strong>Login to your account</strong></div>
                <div class="card-body">
                    <form method="POST" autocomplete="off">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required autofocus>
                        </div>
                    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control mb-2" id="password" placeholder="Enter Password" required>
                            <a href="/register" style="color: white;"> Register Here </a>
                        </div>
                        
                        <div class="form-group text-right">
                            <input type="submit" class="btn btn-success" value="Login">
                            <a href="/">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ../partials/footer.ejs %>
